@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark-modal label {
  color: white !important;
}

body {
  background: linear-gradient(135deg, #151718, #333333);
  color: #ffffff; /* Ensure text is readable */
}

.phone-number-input input {
  background: transparent !important;
  outline: none !important;
}
